*
{
    background-color: black;
    color: #f15f36;
}
  
textarea
{
    width: 380px;
    height: 100px;
    font-size: large;
}

h1
{
    color: black;
    font-size: 50px;
}

.form
{
    border-radius: 10%;
    border: 2.5px #f15f36 solid;
    background: white;
    width: 440px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}

label
{
    color: black;
    font-size: x-large;
}

input
{
    font-size: x-large;
}
input, textarea
{
    border: 2px #f15f36 solid;
    color: black;
}

.form *
{
    background-color: white;
}

.main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.main img
{
    width: 500px;    
}

body
{    
    overflow: hidden;
}

@media (max-width: 768px)
{
    .main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width: 768px)
{
    .main img 
    {
        width: 100%;
    }
}